accelerate>=0.30
bitsandbytes>=0.43
datasets>=2.19
evaluate>=0.4
fuzzywuzzy>=0.18
huggingface-hub>=0.23
jsonlines>=4.0
matplotlib>=3.8
numpy>=1.26
pandas>=2.0
peft>=0.11
psutil>=5.9
python-Levenshtein>=0.25
rouge-score>=0.1.2
sacrebleu>=2.4
sacremoses>=0.1
scikit-learn>=1.4
sentencepiece>=0.2
torch>=2.2
tqdm>=4.66
transformers>=4.42
trl>=0.9
unsloth
wandb>=0.16
